
  #horizontal ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height : 75px;
    background-color: black;
    display : inline-flex;
  }
  
  #horizontal li {
    display : inline-flex;
    width: 100%;
    color: darkred;
    border-top: solid;
    border-left : solid;
    border-bottom: solid;
    text-align: center;
  }
  
  #horizontal a{
    width: 100%;
    height: 75px;
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  
.header {
  display: flex;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
  
  }
  
  .inner_header {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  }
  
  .logo_container {
  height: 100%;
  display: table;
  float: left;
  }
  
  .logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
  }
  
  .logo_container img {
  height: 100%;
  display: flex;
  
  }
  
  .navigation {
  display: flex;
  justify-content: flex-end;
  
  height: 100%;
  }
  
  .navigation a {
  height: 100%;
  display: table;
  
  padding: 0px 20px;
  }
  .navigation img {
  height: 20px;
  display: flex;
  
  }
  .navigation a:last-child li {
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  
  
  
  .navigation a li {
  display: table-cell; 
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  }
  