/* Taille de manière général */
*{
  margin:0;
  padding:0;
}
body {
  flex-direction: column;
}


/*Barre vertical*/

#vertical ul {  
  margin-top:78px;
  position: fixed;
  list-style-type: none;
  width: 100px;
  background-color: #555;
  height: 100%;
}

#vertical a {
  display: block;
  color: black;
  border-top: solid;
  border-left : solid;
  border-right: solid;
  border-bottom: solid;
  border-width: 2px;
  padding: 30px 10px 30px 10px;
  text-decoration: none;
  height: 100%;
}

#vertical img{
width:75px;
}

/* !!! A Partir d'ici tout ce qui est en dessous c'était ce qui était dans HeaderFix  !!! */

  

/* Change the link color on hover */
li a:hover {
    background-color: rgb(129, 128, 128);
    color: white;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
  
  }
  
  .inner_header {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  }
  
  .logo_container {
  height: 100%;
  display: table;
  float: left;
  }
  
  .logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 200;
  }
  
  .logo_container a {
  height: 100%;
  display: flex;
  
  }

  .logo_container img {
    width:100px;
    
    }
  
  .navigation {
  display: flex;
  justify-content: flex-end;
  
  height: 100%;
}
.navigation :first-child{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation i {
  color: white;
  margin-top: 100%;
}
#labarre {
 margin-right: 10%;
}

.navigation a {
  height: 100%;
  display: table;
  
  padding: 0px 20px;
  }
  .navigation img {
    height: 20px;
    display: flex;
    
    } 
  .navigation a:last-child li {
  display: flex;
  flex-direction: row;
  align-items: center;
  }



.navigation a li {
  display: table-cell; 
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  }
  



@media only screen and (max-width: 800px) {
  #vertical {display: none;}
  #corps {margin-left: 0;}
}