
/* Taille de manière général */
*{
    margin:0;
    padding:0;
}
body {
    
    
    font-family: sans-serif;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100%; 
    display:flex;
    flex-direction: column;
}
/*Header*/

/*Corps*/

#dedans div{
    display: flex;
    flex-direction: column ;
    color: darkred;
    border-top: solid;
    border-bottom: solid;
    overflow:hidden;   /*Je cache les partie inutile*/
}


.Actualité {
    float: center;
    width: 80%;
    height:600px;
    margin-left: 0%;
    border:solid 1px #555;
    padding:0;
    position:absolute;
    margin:150px auto;
}
    
#Slides {
    list-style-type:none;
    display: flex;
    margin:0;
    position: relative;
    left:0;
    top:0;
    padding:0;
}

@keyframes slide{
    0%{left:0px;}
    10%{left:0px;}
    35%{left:-100%;}
    45%{left:-100%;}
    75%{left:-200%;}
    85%{left:-200%;}
    90%{left:0px;}
}

#Slides {
    animation:slide 15s linear infinite;
}

#produits{
    display: inline-flex;
}

.infos{
    width: 50%;
    background-color: black;
    padding: 0;
    display : flex;
    flex-wrap: wrap;
    margin-left:50px;
}

.infos h1{
    padding: 2%;
    color: darkred;
    border-bottom: solid;
}
/*Panier*/
.flex{
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex div{
    background-color:rgba(188, 188, 188, 0.3);
    
}

#panier{
    width: 50%;
    padding: 2vw;
}

#recap{
    width: 30%;
    padding: 2vw;
}

#panier img{
    width: 40%;
    float: left;
}
#panier h1 {
    font-size: 30px;
    margin-bottom: 5%;
}

#panier h3 {
    float: right;
    margin-top: 40%;
    margin-right: 5%;
    
}

#panier {
    
    margin-left: 40%%;
}
#panier h2 {
    
    margin-left: 50%;
}
#panier p {
    
    margin-left: 60%;
    color: green;
    font-size: 1.5vw;
}

#panier input {
    width: 10%;
    float: right;
    margin-top: 40%;
    text-align: center;
    
}
#recap h2 {
    margin-top: 5%;
}
#recap input:first-child {
    margin-top: 2%;
    width: 80%;
    height: 5%;
    text-align: left;

}
#recap input:last-child {
    float: right;
    margin-top: 30%;
    width: 30%;
    height: 5%;
}
#table1{
    width:100%;
    margin-top: 10%;
    height: 40%;
    font-size: 30px;
}



#recap td:nth-child(2){
    margin-left: 100%;
    
    
}
/*cordonner*/
#tablecoco {
    margin-top: 150px;
    margin-left: 20%;
    height: 600px;
    width: 1000px;
    font-size: 30px;
    background-color:grey;
}
#tablecoco td:nth-child(2) {
    margin left: 5%;

}
#tablecoco input {
    margin-top: 2%;
    width: 80%;
    height: 40%;
    text-align: left;

    font-size: 30px;
}
#Payer {
    margin-top: 1%;
    margin-left: 34%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#annuler {
    margin-top: 1%;
    margin-left: 40%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    

}
/*Connexion */
#connexion {
    margin-top: 7%;
    margin-left: 20%;
    height: 600px;
    width: 1000px;
    font-size: 30px;
    background-color:grey;
}
#connexion td:nth-child(2) {
    margin left: 5%;

}
#connexion input {
    margin-top: 2%;
    width: 80%;
    height: 40%;
    text-align: left;
    font-size: 30px;
}
#connecter {
    margin-top: 2%;
    margin-left:67%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/*Qui sommes nous*/
.nous {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10%;
    
    background-color: grey;
}
.nous :nth-child(2) {
    margin-top:5% ;
    margin-right: 9%;
    float:right;
    font-size: 15px;
    
}
    

.nous :nth-child(3) {
    margin-top:5% ;
    margin-left: 3%;
    float:left;
    font-size: 15px;
    

}
.nous :first-child {
    width: 20%;
    height: 300px;
}
.nous :last-child{
    width: 20%;
    height: 300px;
    float: right;
}



/* https://codepen.io/*/

  
  .button {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

/*Footer*/

footer {
    position: absolute;
    bottom: 0;
    width:100%; 
    padding-top:25px;
    height:60px;
    background-color: dimgrey;
    text-align: center;
    color:white;
    
}
footer p:nth-child(2) {
    color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
footer p:nth-child(3) {
    color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
    
    
 /* Taille pour les téléphones */

 @media only screen and (max-width: 800px) {
     #Actualité {display: none;}
     .infos {width: 100%;}
     body{background-size: 300%;}
     #produits{ display: column;}


 }

 @media only screen and (max-width: 1080px) {

 }