

#corps {
    padding-top: 0px;
    margin-left: 0px;
}

.nouss {
    
    font-size: 20px;
    width: 1000px;
    height: 900px;
    margin-left: 20%;
    margin-right: 60%;
    background-color:rgba(188, 188, 188, 0.3);
    text-align:center;
}
.nouss t {
    margin-left: 50px;
}


.nouss img {
    display: flex;
    justify-content: space-between;

    width: 200px;
    height: 200px;
    
}
/*Footer*/

footer {
    position: absolute;
    bottom: 0;
    width:100%; 
    padding-top:50px;
    height:50px;
    background-color: dimgrey;
    text-align: center;
    color:white;
    
}
footer p:nth-child(2) {
    color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

