#corps {
    padding-top: 80px;
}

#corps > h1{
    background-color: darkred;
    border-bottom: solid;
    margin-left: 100px;
    padding: 10px 0px 10px 20px;
}

#Haut {
    display: flex;
    background-color: aliceblue;
    height: 100%
}

/*Le produit en lui même*/ 

#Produit{
    margin-left: 40px;
    width : 40%;
    background-color: aliceblue;
}

#Produit img{
    justify-content: center;
    margin-top: 50px;
    width: 75%;
    margin-left: 18%;
}
/*Les caractéristiques du produit*/

#Caractéristiques{
    background-color: aliceblue;
    width: 35%;
}

#Caractéristiques :first-child{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

#Caractéristiques h2{
    margin-left: 10px;
    font-size: 25px;
}

#Caractéristiques strong{
    font-size: 22px;
}

#Caractéristiques p{
    padding: 10px;
    font-size: 20px;
}

/*La Fenêtre commande à droite*/

#Commande{
    margin-top: 20px;
    position : fixed ;
    margin-left: 81%;
    max-width: 400px;
    background-color: dimgrey;
    border-radius: 1em;
    padding: 10px;
    
}

#Commande :first-child{
    margin-top : 15px;
}

#Commande h2{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

#Commande button{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 1em;
    text-align: center;
}

#ajout{
    background-color: darkgoldenrod;
    margin-bottom: 15px;
}
#direct{
    background-color: crimson;
}

#Commande * :not(h1){
    margin-top: 20px;
}

#Commande img{
    width: 100px;
}

.img{
    text-align: center;
}

/*Espace Commentaire*/

#Commentaire{
    border-top: solid ;
    border-bottom: solid;
    background-color: goldenrod;
    padding-left: 110px;
    height : 300px
}
#Commentaire textarea{
    margin-top: 20px;
    height: 200px;
    width:60%;
    border: solid;
    border-width: 2px;
    max-height: 200px;
    max-width: 75%;
}

.notation {
    direction: rtl;
    background-color: goldenrod;
 }

 .notation h1{
    padding-top: 15px;
    height: 50px;
    text-align: center;
    border-bottom: solid;
}
.notation :nth-child(2){
    padding-right: 21%;
}

 .notation a {
    margin: 6%;
    color: darkred;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .notation a:hover,
 .notation a:focus,
 .notation a:hover ~ a,
 .notation a:focus ~ a {
    color: darkgreen;
    cursor: pointer;
 }


/*Responsive Design*/

@media only screen and (max-width: 1400px) and (min-width: 800px) {

    #Produit img{
        margin-left: 80px;
        margin-top: 150px;}

    #Caractéristiques{
        padding-left: 10px;
        width: 100%;}

    #Caractéristiques :first-child{
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 4vw;}

    #Caractéristiques h2{
        font-size: 2.7vw;}
    
    #Caractéristiques p{
        font-size: 2.5vw;}

    #Commande{
        margin: 0;
        margin-left: 100px;
        position: fixed;
        bottom: 0;
        padding-left: 0;
        height: 100px;
        max-width: none;
        width: 92%;
        background-color: aliceblue;
        border-top: solid;
        border-radius: 0;}
    
    #Commande button{
        margin: 0;
        height:40px;
        border-radius: 0;
        margin-bottom: 10px;}
    
    #Commande p, #Commande h2,#Commande img, #Commande label{
        display: none;}

    .notation :nth-child(2){
        padding-right: 5%;
    }
    
    .notation a {
        margin: 6%;}

    footer{margin-bottom: 120px;}
}

@media only screen and (max-width: 800px) {
    #corps > h1{
        margin: 0;}

    #Haut {
        flex-wrap:wrap;
        flex-direction : column;
        
        width : 100%;
        padding: 0;
        margin: 0;}

    #Produit{        
        margin: 0;
        width : 100%;}
    
    #Produit img{
        margin: 45px;
    }
        
    #Caractéristiques{
        width: 100%;}

    #Commande{
        position: fixed;
        bottom: 0;
        padding-left: 0;
        margin: 0;
        height: 75px;
        max-width: none;
        width: 98.5%;
        background-color: aliceblue;
        border-top: solid;
        border-radius: 0;}

    #Commande button{
        margin: 0;
        padding:0;
        margin-bottom: 5px;
    }

    #Commande p, #Commande img, #Commande label{
       display: none;}

    #Commentaire{
        padding: 0;
        padding-left : 20px;}
    
    #Commentaire textarea{
        width:80%;
    }

    .notation :nth-child(2){
        padding-right: 2%;
    }
    
    .notation a {
        margin: 5%;}

    footer{
        margin-bottom: 90px;}

}