#corps {
    padding-top: 80px;
    margin-left: 100px;
}

#corps > h1{
    width: 100%;
    background-color: darkred;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Affichage des produits dans l'ensemble*/

#corps section{
    height: 300px;
    background-color: beige;
    border-bottom: solid;
}

#Avengers_tome_11,#Avengers_tome_10,#Avengers_tome_9{
    display: flex;
}

section img{
    width: 150px;
    padding : 50px;
}


/*La partie avec l'image*/

.Produit{
    background-color: aliceblue;
    text-align: center;
}

/*La partie caractéristique au milieu*/

:link{
    color: black;
}

:link:hover{
    background-color: grey;
}

.Caractéristiques{
    width: 100%;
    background-color: aliceblue;
    border-left: solid;
    padding-left: 10px;
}

.Caractéristiques h2{
    margin-top: 30px;
}

.Caractéristiques p{
    margin-top: 10px;
}

/*La partie pour commander à droite*/

.Commande{
    width: 300px;
    background-color: aliceblue;
    padding: 10px;
    border-left: solid;
    
}

.Commande h2{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}

.Commande button{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 1em;
    background-color: darkgoldenrod;
    text-align: center;
}
.direct button{
    background-color: crimson;
 }

.Commande * :not(h1){
    margin-top: 20px;
}

/*Footer et autre*/

#Plus{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkgoldenrod;
    height: 40px;
}

button{
    width: 100%;
}


/*Responsive design pour téléphoe*/
@media only screen and (max-width: 800px) {
    #corps > h1{
        padding-right: 20px;
    }

    #Avengers_tome_11,#Avengers_tome_10,#Avengers_tome_9{
        flex-wrap:wrap;
        flex-direction : column;
        
        width : 100%;
        padding: 0;
        margin: 0;}
    
    #corps section{
        height: 100%;
    }
    .Caractéristiques{
        border: none;
        padding-right: 10px;
    }
    .Commande{
        width: 100%;
        align-self: center;
        border: none;
    }
    button h2{
        width: 105%;
    }
    footer {
        padding-right: 20px;
    }
}