

#corps {
    padding-top: 80px;
    margin-left: 50px;
}

/*Balise contenant le 'corps' de l'article*/

:link{
    text-decoration: none;
}

#corps div{  
    flex-direction: column ;
    color: darkred;
    overflow:hidden;   /*Je cache les parties inutiles*/
}

.Actualité {       
    margin-left: 50px;
    width: 97.3%;
    height:600px;
    position: relative;
}
    
#Slides {
    width: 300%;
    display: flex;
    position: absolute;
    animation:slide 30s linear infinite;
}

#Slides img{
    width:100%;
    height:600px;
}

.Prix{
    text-align: center;
}

/*Progression de l'animation*/
@keyframes slide{
    0%{left:0px;}
    10%{left:0px;}
    15%{left:-100%;}
    45%{left:-100%;}
    50%{left:-200%;}
    85%{left:-200%;}
    90%{left:0px;}
}

#corps h1{
    background-color:rgb(36, 36, 54)  ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration:underline;
} 

#corps h1{
    font-size: 2.5vw;
}

/*Première section des produits*/
#Nouveauté {          
    display: inline-flex;
    background-color: #555;
    width : 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Nouveauté a{          
    display: inline-flex;
    width : 100%;
    background-color:#555;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Deuxième section des produits*/

#Bons_Plans {         
    display: inline-flex;
    background-color: #555;
    width : 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Bons_Plans a{        
    display: inline-flex;
    width : 100%;
    background-color:#555;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Troisième section des produits*/

#Spécial {       /*La section*/
    display: inline-flex;
    background-color: #555;
    width : 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Spécial a{    /*Les produits*/
    display: inline-flex;
    width : 100%;
    background-color:#555;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Partie modifiant chaque article dans les sections*/

.article{         
    width: 100%;
    background-color: black;
    padding: 5px;
    margin-left:50px;
}

.article:hover{
    background-color: grey;
}

.article h2{
    height : 45px;
    font-size: 20px;
    padding: 3%;
    color: darkred;
    border-bottom: solid;
}

.produits img{   /*Taille des images*/
    width : 100%;
}

/*Panier*/
#Panier {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #6AB4A7;
    border: white;
    padding-bottom: 321px;
    padding-top: 400px;

}

/*Footer*/

footer {
    width:100%; 
    padding-top:50px;
    height:50px;
    background-color: dimgrey;
    text-align: center;
    color:white;
    
}
footer p:nth-child(2) {
    color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

 /*Taille pour les ipad*/
    
 /* Taille pour les téléphones */

 @media only screen and (max-width: 800px) {
    body{background-size: 200%;}

    #corps h1{
        font-size: 40px;}

    .Actualité {width: 100%;
                margin-left:0;
                height: 400px;}


    #Slides img{
        width:100%;
        height: 400px;}
    /*Partie des produits*/

    .article{ 
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: gray;
        border-width: 5px;}
        
    .article h2{
        font-size: 6vw;}
    
     #Nouveauté{ 
        flex-wrap:wrap;
        flex-direction : column;
        width : 100%;
        padding: 0;
        margin: 0;}

    #Bons_Plans{ 
        flex-wrap:wrap;
        flex-direction : column;
        width : 100%;
        padding: 0;
        margin: 0;}

    #Spécial{ 
        flex-wrap:wrap;
        flex-direction : column;
        width : 100%;
        padding: 0;
        margin: 0;}

    


    }
    

/*Footer*/

footer {
   ;
    width:100%; 
    padding-top:25px;
    height:60px;
    background-color: dimgrey;
    text-align: center;
    color:white;
    
}
footer p:nth-child(2) {
    color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
footer p:nth-child(3) {
    color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}
    